body {
    background-color:#ffffff;
}

h1{
    text-align: center;
    color: grey;
}

#gameInstructions{
  margin-left: auto;
    margin-right: auto;
    width: 25em;  
}

#player1Score, #player2Score, #p2{
font-size: 90px;
padding-top: 15px;
display: inline-block;
font-family: 'Aldrich', sans-serif;
}

.button button{
    align-content: center;
    background-color: azure;
    padding:15px 70px;
    font-size:25px;
    border-radius:10%;
    margin:5px;
    border-color: lightblue;
    cursor: pointer; 
    color: #2196F3;    
}
.button button:focus {
    box-shadow: 0px 0px 20px #568bb7;
    outline: 0;
}

.button button:not(.nohover):hover{
    background-color: #00bcd49c;
    color:#23386bbd;
}

.button{
    text-align: center;
}

.currentScoreTitle {
      color: grey;
      text-align: center;
      position: absolute;
      top: 352px;
      left: 950px;
}

.roundWinnerTitle{
      color: grey;
      text-align: center;
      position: relative;
      top: 35px;
      left: -200px;
}

#roundWinner {
      position: relative;
      top: 60px;
      left: 500px;
      font-size: 1.2em;
}

#gamePlay{
      position: relative;
      top: 33px;
      left: 500px;
      font-size: 1.2em;
      line-height: 150%;
}
#allScores{
text-align: left;
font-size:14px;
padding-left: 45px
}

#gameResult{
      position: relative;
      top: 100px;
      left: 460px;
      font-size: 1.8em;
}

#resetGame{
    position: relative;
    top: 120px;
    left: 460px;
    font-size: 1.6em;
    color: blue;
}

.boxScore{
  width: 169px;
  height: 100px;
  position: absolute;
  border: 1px solid blue;
  box-sizing: border-box;
  top: 420px;
  left: 950px;
  background-color: #0f94f682;
}


.box {
  width: 550px;
  height: 700px;
  position: absolute;
  border: 1px solid azure;
  box-sizing: border-box;
  top: 700px;
  left: 400px;
  background-color: azure;
}

.previousScore{
      color: grey;
      text-align: center;
      position: absolute;
      left: 10px;
}

.v1{
    border-left: 3px solid #03A9F4;
    height:200px;
    position: absolute;
    left:50%;
    margin-left:-3px;
    top:350px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
      /*background-color: #F09A9D; /* Red */
    }
  }
  
   
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    body {
      /*background-color: #B2D6FF; /* Blue */
    }
  }
